<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Thymeleaf based components</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <fe:magicheaders>
            <fe:index>
                <fe:indexentry text="Foo">
                    Lorem ipsum
                </fe:indexentry>
                <fe:indexentry text="Bar">
                    Some text
                </fe:indexentry>
                <fe:indexentry text="Baz">
                    Some more text
                </fe:indexentry>
            </fe:index>
        </fe:magicheaders>
    </div>
</body>
</html>
