<!DOCTYPE html>
<html lang="en" xmlns:fe="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   
    <fe:vcard title="FND" content="FND is a funny guy from ..." fe:data="${otherData}">
        Here is some cool image of FND!
    </fe:vcard>

    <fe:vcard title="Till" content="Till is a boring guy from ...">
        Nothing to see here

        <fe:vcard title="Charlotte" content="Till's child">
            
        </fe:vcard>
    </fe:vcard>

</body>
</html>