<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Thymeleaf based components</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Badges</h1>
        <div>
            This is a <co:badge type="danger">Badge <span>fdsf</span></co:badge>
        </div>
        <div>
            This is another – more boring – <co:badge>Badge</co:badge>
        </div>

        <h1 class="mt-5">Buttons</h1>
        <co:button>Simple co:button <co:badge type="danger">Some Badge</co:badge></co:button>
        <hr />
        <co:button styling="cta" additional-classes="text-uppercase">CTA co:button with uppercase</co:button>
        <hr />
        <co:button data-foo="bar" leer aria-live="polite">co:button with additional attributes</co:button>
        <hr />
        <co:button type="button" name="action" value="delete">co:button with name and value</co:button>

        <h1 class="mt-5">Cards</h1>
        <co:card heading-level="2">
            Welcome to the <strong>best card</strong>
            <th:block co:slot="heading"><span lang="de">Großartige</span> Card</th:block>
            <span co:slot="heading">More Heading</span>
            <th:block co:slot="footer">This is the <co:badge>footer</co:badge>!</th:block>
        </co:card>
        <hr />
        <co:card heading-level="1" href="#foo">
            <span co:slot="heading">Another co:card with a Link as Header</span>
            Content baby!
        </co:card>
        <hr />
        <co:card heading-level="3">
            <span co:slot="heading">Völker der Welt</span>
            <span co:slot="footer">Schaut auf diese Card</span>
            Cardo Number <del>five</del>three
        </co:card>

        <h1 class="mt-5">List</h1>
        <co:list co:children="${list}">
            Muss weg!
        </co:list>

        <hr>

        <form>
            <lit-list id="list2">
            <lit-list-item id="key1" key="key1">Car</lit-list-item>
            <lit-list-item id="key2" key="Foo"><input type="text" name="test"></lit-list-item>
        </lit-list>
        </form>

        <h1 class="mt-5">MagicHeaders</h1>
        <co:magicheaders>
            <article>
                <header>
                    <co:header>Some h1</co:header>
                    <p class="tagline"> Content </p>
                </header>
                <co:magicheaders>
                    <section>
                        <co:header>Some h2</co:header>
                    </section>
                    <p>Some more content</p>
                    <co:magicheaders>
                        <div class="foo bar">
                            <co:header>Some h3</co:header>
                        </div>
                        <p>Some more content</p>
                    </co:magicheaders>
                </co:magicheaders>
                <co:magicheaders>
                    <section>
                        <co:header>Again some h2</co:header>
                    </section>
                    <p>Some more content</p>
                </co:magicheaders>
            </article>
        </co:magicheaders>

        <h1 class="mt-5">Form Group</h1>
        <lit-form-group type="email" id="my-email" label="eMail" name="users_email" value="BOOM" error="'BOOM' is not a valid E-Mail address"></lit-form-group>
    </div>
</body>
</html>
