<!DOCTYPE html>
<html lang="en" xmlns:fe="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <article>
            <h1 th:text="${title}">
                Some Text
            </h1>

            <h2>
                Test Component
            </h2>
            <pre>
&lt;fe:test data-test=&quot;test-value&quot; th:data-title=&quot;${title}&quot; fe:title=&quot;${testProps.title}&quot; fe:content=&quot;${testProps.content}&quot; fe:data=&quot;${otherData}&quot;&gt;
    Some Inner Ipsums
&lt;/fe:test&gt;
            </pre>
            <fe:test data-test="test-value" th:data-title="${title}" fe:title="${testProps.title}" fe:content="${testProps.content}" fe:data="${otherData}">
                Some Inner Ipsums
            </fe:test>

            <h2>
                Normal th:fragment call
            </h2>
            <div th:replace="~{fragments/test.html :: test()}">
                Yada Yada
            </div>
        </article>
    </main>
</body>
</html>